@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*:where(:not(html, iframe, canvas, img, svg, video, audio, input) :not(svg *, symbol *)) :not(input) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    font-family: 'Montserrat';
}

a,
button {
    cursor: revert;
}

ol,
ul,
menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

:where(pre) {
    all: revert;
}

::placeholder {
    color: unset;
}

::marker {
    content: initial;
}